{% extends "layout/studio.html" %}

{% block content %}
    {% with request.user.channel as channel %}
        <div>
            <div class="px-8 pt-6 pb-4">
                <div class="text-2xl font-semibold">Channel comments & mentions</div>
            </div>
            <div data-controller="loader" data-loader-has-section-value="true" data-loader-url-value="{% url 'studio:comments-list' channel.uid %}" data-loader-pagination-value="true">
                <div class="flex items-center text-sm gap-6 px-8 border-b">
                    <div>
                        <a href="" class="inline-block text-blue-500 font-semibold py-4">Comments</a>
                    </div>
                    <div>
                        <a href="" class="inline-block text-gray-600 font-semibold py-4">Mentions</a>
                    </div>
                </div>
                <div data-loader-target="renderer">
                    <div class="py-16 text-center flex flex-col items-center justify-center h-full">
                        <img src="https://www.gstatic.com/youtube/img/creator/no_content_illustration_v3.svg" alt=""/>
                        <p class="text-gray-700">No content available</p>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}