@use "../foundation/breakpoints" as breakpoints;

.yt--video--card {
  @apply mb-4;
}

.yt--video--list {
  @apply flex items-start gap-3;

  .yt--video--header {
    @apply relative;

    @include breakpoints.desktop {
      flex: 6;
    }

    @include breakpoints.tablet-and-above {
      flex: 4;
    }
  }

  .yt--video--info {
    @include breakpoints.desktop {
      flex: 6;
    }

    @include breakpoints.tablet-and-above {
      flex: 8;
    }

    @apply flex flex-col gap-1;

    .yt--video--title {
      @apply line-clamp-2 font-semibold text-sm;
    }
  }
}

.yt--video--placeholder {
  @apply transition-all ease-in-out duration-300 animate-pulse mb-8;

  .yt--placeholder--thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 16px;

    @apply bg-gray-500 rounded-lg;
  }

  .yt--placeholder--content {
    @apply flex items-start gap-4;
  }
}

.yt--related--renderer {
  @apply flex flex-col gap-4;
}
